:root {
  --white-color: #ffffff;
  --main-title-color: #2f303a;
  --secondary-title-color: #f5f4fa;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.head {
  display: block;
  height: 80px;
  background-color: var(--white-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  border-bottom: 1px solid #ECECEC;
}
.head-link {
  color: var(--main-text-color);
}
.head-link:hover,
.head-link:focus {
  color: var(--accent-color);
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.logo-design {
  color: var(--accent-color);
}
.head-contacts {
  color: var(--secondary-text-color);
}
.head-contacts:hover,
.head-contacts:focus {
  color: var(--accent-color);
}
.active {
  color: var(--accent-color);
}
.footera {
  background-color: var(--main-title-color);
  font-style: normal;
  line-height: 1.71;
  color: var(--white-color);
  height: 252px;
}
.footera-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  color: var(--white-color);
}
.footera-address {
  line-height: 1.71;
  color: var(--secondary-text-color);
}
.footera:hover,
.footera:focus {
  color: var(--accent-color);
}
.footera-address:focus,
.footera-address:hover {
  color: var(--accent-color);
}
.hero {
  background-color: var(--main-title-color);
  text-align: center;
}
.hero-title{
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  letter-spacing: 0.06em;
  color: var(--white-color);
}
.btn {
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.06em;
  border: none;
  padding: 10px 32px;
  margin: 0;  
}
.button {
  color: var(--main-text-color);
  background-color: var(--secondary-title-color);
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border: none;
  padding: 6px 22px;
  margin: 0;
}
.filter-button-li {
  margin-right: 8px;
}
.filter-button-li:last-child{
  margin-right: 0;
}
.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.hang-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 10px;
}
.hang-text {
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
.ourjob-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.team {
  background-color: var(--secondary-title-color);
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.team-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  margin: 30px auto 10px;
}
.team-undertext {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
  margin: 0 auto 30px;
}
.filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin: 20px 24px 4px;
}
.filter-sign {
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  color: var(--secondary-text-color);
  margin: 0 24px 20px;
}
/*убрать точки из списков*/
.head-ul,
.filter,
.filter-items,
.footera-ul,
.hang-ul,
.ourjob-ul,
.team-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*убрать стандартные подчеркивание ссылок*/
.uderline-remover {
  text-decoration: none;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-nav {
  display: flex;
  align-items: center;
}
.head-ul {
  display: flex;
}
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-items {
  display: flex;
  flex-wrap: wrap;
}
.filter-li {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ECECEC
}
.filter-li:nth-child(3n) {
  margin-right: 0;
}
.filter-li:nth-last-child(-n+3){
    margin-bottom: 0;
}
.head-nav > a {
  margin-right: 93px;
}
.head-link {
  padding-top: 15px;
  padding-bottom: 15px;
}
.head-ul-li {
  margin-right: 50px;
}
.head-ul-li:last-child {
  margin-right: 0;
}
.head-contacts{
  padding-top: 15px;
  padding-bottom: 15px;
}
.container{
  padding-top: 94px;
  padding-bottom: 94px;
}
.footera-ul-li{
  margin-bottom: 9px;
}
.footera-logo{
  margin-top: 60px;
  margin-bottom: 20px;
  width: 145px;
}
.foot-main{
  display: flex;
  flex-direction: column;
}
.footera-ul-li:last-child{
  margin-bottom: 0;
}
.hang-ul{
  display: flex;
}
.hang-ul-li{
  margin-right: 30px;
}
.hang-ul-li:last-child{
  margin-right: 0;
}
.ourjob-ul{
  display: flex;
}
.ourjob-ul-li{
  margin-right: 30px;
}
.ourjob-ul-li:last-child{
  margin-right: 0;
}
.team-ul{
  display: flex;
}
.team-ul-li{
  background-color: var(--white-color);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team-ul-li:last-child{
  margin-right: 0;
}