:root {
  --white-color: #ffffff;
  --main-title-color: #2f303a;
  --secondary-title-color: #f5f4fa;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --card-set-gap: 30px;
  --svg-main-color: #afb1b8;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/*убрать точки из списков*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*убрать стандартные подчеркивание ссылок*/
.underline-remover {
  text-decoration: none;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  min-width: fit-content;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

/* Секция Шапка/Header */
.page-header {
  align-items: center;
  background-color: var(--white-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  border-bottom: 1px solid #ececec;
}
.page-header-div {
  display: flex;
  padding-top: 25px;
  padding-bottom: 24px;
  align-items: center;
  justify-content: space-between;
}
.page-header-navigation {
  display: flex;
  align-items: center;
}
.page-header-navigation > a {
  margin-right: 93px;
}
.page-header-list {
  display: flex;
  align-items: baseline;
}
.page-header-list-item {
  margin-right: 50px;
}
.page-header-list-item:last-child {
  margin-right: 0;
}
.page-header-link {
  color: var(--main-text-color);
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header-link:hover,
.page-header-link:focus {
  color: var(--accent-color);
}
.page-header-contacts {
  color: var(--secondary-text-color);
  padding-top: 15px;
  padding-bottom: 15px;
  fill: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-header-contacts:hover,
.page-header-contacts:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.logo-design {
  color: var(--accent-color);
}
.active {
  color: var(--accent-color);
}
.active::after {
  content: '';
  display: block;
  background: var(--accent-color);
  height: 4px;
  border-radius: 2px;
  bottom: -16px;
  width: 100%;
  position: absolute;
}
.envelope {
  margin-right: 10px;
}
.smartphone {
  margin-right: 10px;
}

/* Секция Подвал/Footer */
.page-footer {
  background-color: var(--main-title-color);
  font-style: normal;
  line-height: 1.71;
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer-logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  color: var(--white-color);
  margin-bottom: 20px;
}
.page-footer-address {
  line-height: 1.71;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-footer-address:focus,
.page-footer-address:hover {
  color: var(--accent-color);
}
.page-footer-list {
  display: inline-block;
}
.page-footer-list-item {
  margin-bottom: 9px;
}
.page-footer-first {
  padding-top: 60px;
  padding-bottom: 60px;
}
.page-footer-list-item:last-child {
  margin-bottom: 0px;
}
.page-footer-sectors {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}
.page-footer-second {
  padding-top: 72px;
  padding-bottom: 100px;
  margin-left: 70px;
}
.connect-to-us {
  font-weight: 700;
  letter-spacing: 1.14;
  margin-bottom: 20px;
}
.white-adress:hover,
.white-adress:focus {
  color: var(--accent-color);
}
.footer-social-link {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--white-color);
  margin-right: 10px;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-width: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:last-child {
  margin-right: 0;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

/* Секция Герой/Hero */
.hero {
  background-color: #c4c4c4;
  text-align: center;
}
.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--white-color);
  padding-top: 200px;
}
.bg-hero {
  background-image: url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/*.bg-hero:hover,
.bg-hero:focus {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}*/

/* Кнопки */
.btn {
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.06em;
  border: none;
  padding: 10px 32px;
  margin: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  color: var(--white-color);
  background-color: #188ce8;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 0.06em;
  border: none;
  padding: 10px 32px;
  margin: 0;
}
.button {
  color: var(--main-text-color);
  background-color: var(--secondary-title-color);
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border: none;
  padding: 6px 22px;
  margin: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Секция Особенности/Hang */
.hang {
  padding-top: 94px;
}
.hang-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 10px;
}
.hang-text {
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
.hang-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
}
.hang-list-li {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
}
.box {
  display: flex;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
.sign {
  margin: 25px auto;
}

/* Секция Чем мы занимаемся/Ourjob */
.ourjob-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.ourjob-list {
  display: flex;
}
.ourjob-list-li {
  margin-right: 30px;
}
.ourjob-list-li:last-child {
  margin-right: 0;
}
.thumb {
  position: relative;
  overflow: hidden;
}
.thumb > .label {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Секция Наша Команда/Team */
.team {
  background-color: var(--secondary-title-color);
}
.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.team-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  margin: 30px auto 10px;
}
.team-undertext {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
  margin: 0 auto 16px;
}
.team-list {
  display: flex;
}
.team-list-li {
  background-color: var(--white-color);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team-list-li:last-child {
  margin-right: 0;
}
.team-social-link {
  display: inline-block;
  background-color: inherit;
  border-radius: 50%;
  fill: var(--svg-main-color);
  margin-right: 10px;
  background-color: inherit;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-width: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-link:last-child {
  margin-right: 0;
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}
.team-social {
  text-align: center;
  margin-bottom: 30px;
}

/* Секция Постоянные Клиенты/Clients */

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: calc(100% / 6 - var(--card-set-gap));
  margin-right: calc(-1 * var(--card-set-gap));
}
.box-clients {
  border: 1px solid var(--svg-main-color);
  border-radius: 4px;
  margin-right: var(--card-set-gap);
  height: 92px;
  width: 170px;
  display: flex;
  fill: var(--svg-main-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-clients:hover,
.box-clients:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.clients-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.company-logo {
  margin: auto;
}
/* Секция Портфолио/portfolio*/

.filter-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-button-li {
  margin-right: 8px;
}
.filter-button-li:last-child {
  margin-right: 0;
}
.filter-content {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
  margin-bottom: calc(-1 * var(--card-set-gap));
}
.filter-content-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
  margin-bottom: var(--card-set-gap);
  border-bottom: 1px solid #ececec;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-content-item:hover,
.filter-content-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.filter-content-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.card-content {
  padding: 20px 24px;
}
.filter-content-sign {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
  margin-top: 4px;
}
.neworlean {
  letter-spacing: 0.95px;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}
.filter-content-description {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-content-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.filter-content-item:hover .filter-content-description {
  transform: translateY(0%);
}

/*дз 5*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);

  background-color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.backdrop.is-hidden .modal {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1.5);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
}
