.hang {
  padding-top: 94px;
}

.hang__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  margin-bottom: 10px;
}

.hang__text {
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.hang__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
}

.hang__item {
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-right: var(--card-set-gap);
}

.hang-box {
  display: flex;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.hang-box__sign {
  margin: 25px auto;
}
