.page-header {
  align-items: center;
  background-color: var(--white-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  border-bottom: 1px solid #ececec;
}

.page-header__addition {
  padding: 16px 15px 16px;

  display: flex;
  // padding-top: 25px;
  // padding-bottom: 24px;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    padding: 18px 15px 18px;

    display: flex;
    // padding-top: 25px;
    // padding-bottom: 24px;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    padding-top: 25px;
    padding-bottom: 24px;
    align-items: baseline;
    justify-content: space-between;
  }
}

.page-header__navigation {
  @media screen and (min-width: 1200px) {
    margin-left: -200px;
  }
}

.page-header__list {
  &--first {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      align-items: baseline;
    }
  }

  &--second {
    display: none;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-direction: column;

      font-size: 12px;
      line-height: calc(14 / 12);
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      align-items: baseline;
    }
  }
}

.page-header__item {
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.page-header__item--alternative {
  &:last-child {
    margin-top: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
      margin-top: 0;
    }
  }
}

.page-header__link {
  color: var(--main-text-color);
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.page-header__contacts {
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}

.active {
  color: var(--accent-color);

  &::after {
    content: '';
    display: block;
    background: var(--accent-color);
    height: 4px;
    border-radius: 2px;
    bottom: -16px;
    width: 100%;
    position: absolute;
  }
}

.page-header__icon {
  &--envelope {
    margin-right: 8px;
    width: 14px;
    height: 10px;
    @media screen and (min-width: 1200px) {
      width: 16px;
      height: 12px;
    }
  }
  &--smartphone {
    margin-right: 8px;
    width: 10px;
    height: 14px;
    @media screen and (min-width: 1200px) {
      width: 10px;
      height: 16px;
    }
  }
}
