.hero {
  background-color: #c4c4c4;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;

  color: var(--white-color);

  padding-top: 118px;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: calc(60 / 44);
    padding-top: 200px;
  }
}

.hero__background {
  background-image: url(../images/img-mobile/1x/img-hero-m1x.jpg);
  background-repeat: no-repeat;
  // background-position: center;
  background-size: cover;
  height: 400px;
  margin: 0 auto;
  // text-align: center;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/img-mobile/2x/img-hero-m2x.jpg);
    }
  }

  @media screen and (min-width: 768px) {
    // max-width: 768px;
    background-image: url(../images/img-tablet/1x/img-hero-t1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/img-tablet/2x/img-hero-t2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;

    background-image: url(../images/img-desktop/1x/img-hero-d1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/img-desktop/2x/Img-hero-d2x.jpg);
    }
  }
}

/*.bg-hero:hover,
.bg-hero:focus {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-hero.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}*/
