.ourjob__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.ourjob__list {
  display: flex;
}

.ourjob__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}
