.team {
  background-color: var(--secondary-title-color);
}

.team__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  margin: 30px auto 10px;
}

.team__undertext {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
  margin: 0 auto 16px;
}

.team__list {
  display: flex;
}

.team__item {
  background-color: var(--white-color);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team__item:last-child {
  margin-right: 0;
}

.team__link {
  display: inline-block;
  background-color: inherit;
  border-radius: 50%;
  fill: var(--svg-main-color);
  margin-right: 10px;
  background-color: inherit;
  width: 44px;
  height: 44px;
  padding: 12px;
  border-width: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:last-child {
  margin-right: 0;
}

.team__link:hover,
.team__link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.team__social {
  text-align: center;
  margin-bottom: 30px;
}
