h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/*убрать точки из списков*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*убрать стандартные подчеркивание ссылок*/

.underline-remover {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  min-width: fit-content;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
