:root {
  --white-color: #ffffff;
  --main-title-color: #2f303a;
  --secondary-title-color: #f5f4fa;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --svg-main-color: #afb1b8;
  --card-set-gap: 0;
  @media screen and(min-width: 480px) {
    --card-set-gap: 0;
  }
  @media screen and(min-width: 768px) {
    --card-set-gap: 30px;
  }
  @media screen and(min-width: 1200px) {
    --card-set-gap: 30px;
  }
}
