:root {
  --white-color: #ffffff;
  --main-title-color: #2f303a;
  --secondary-title-color: #f5f4fa;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --card-set-gap: 30px;
  --svg-main-color: #afb1b8;
}
